@import 'styles/variables';
@import 'styles/mixins';

.content-card {
  padding: 36px;
  background-color: $white;
  margin-bottom: 24px;

  &__header {
    @include flex-center();

    margin-bottom: 12px;
  }

  &__title {
    font-size: $font-size--lg;
    font-weight: $font-weight--medium;
    line-height: 38px;
  }
}
