@import 'styles/variables';
@import 'styles/mixins';

.service {
  display: flex;
  justify-content: flex-start;

  &__details {
    margin-left: 36px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 8px;
    font-size: $font-size--lg;
    font-weight: $font-weight--medium;
  }

  &__description {
    color: $secondary-color;
    font-size: $font-size--sm;
  }
}
